<% if @route.locations.count > 0 %>

<script type="text/javascript">
  var locations = new Array();

  <% @route.locations.each do |location| %>
    locations.push(new google.maps.LatLng(<%= location.latitude %>, <%= location.longitude %>));
  <% end %>

  var lastLocation = locations[locations.length-1];

  $(function() {
    var yourStartLatLng = new google.maps.LatLng(<%= "#{@route.locations.first.latitude},#{@route.locations.first.longitude}"%>);

    $('#map_canvas').gmap({'center': lastLocation, 'zoom': 17});
    $('#map_canvas').gmap('addShape', 'Polyline', { "strokeColor": "#CC3333", "strokeOpacity": 0.7, "strokeWeight": 5, "path": locations });
    $('#map_canvas').gmap('addMarker', { 'position': lastLocation, 'bounds': false } );
  });

  $(function() {
    setTimeout(updateLocations, 1000);
  });

  function updateLocations() {
    var after = $("#last_location").attr("data-date");
    $.getScript("/routes/<%= @route.id %>/update_locations.js?after=" + after);
    setTimeout(updateLocations, 1000);
  }
 </script>

<% if notice %>
  <p id="notice"><%= notice %> </p>
<% end %>

<div id="wrapper" style="position:relative; width:1000px; margin-left:auto; margin-right:auto;">
  <h1>Tracking <span id="user_name"><%= @route.user.name %></span></h1>
  <%= render :partial => "last_location", :object => @last_location %>

  <div id="main" style="width:1070px;">
    <div id="track_container" style="position:relative; width:640px; height:480px; float:left; margin:10px; padding:2px; border:2px solid #000000">
      <div id="map_canvas" style="width:640px; height:480px;"></div>
      <%= render :partial => "last_image", :locals => { :last_location => @last_location, :route => @route} %>
    </div>

    <div style="width:400px; height:510px; float:left; text-align:left;">
      <h2>Recent Locations</h2>
      <div id="data_points" style="overflow:scroll; height:435px;">
        <% (@recent_locations).each do |location| %>
          <%= render :partial => 'location', :object => location %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% else %>
  Sorry no data yet for this route
<% end %>
